{% extends "partials/layout.njk" %}
{% from "components/dataWarningBanner/dataWarningBanner.njk" import dataWarningBanner %}

{% set pageTitle = applicationName + " - Prisoner not found" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
  <a href="/prisoner" id="backLink" class="govuk-back-link" data-testid="backLink">Back</a>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl" data-testid="prisoner-not-found-heading">Prisoner not found</h1>

  {{ dataWarningBanner(dataWarningBannerEnabled) }}

  <p class="govuk-body">Check the prison number is correct and try again.</p>
  <p class="govuk-body">
    <a class="govuk-link" href="/prisoner" data-testid="find-prisoner-link">Find a prisoner</a>
  </p>
{% endblock %}
