{% extends "partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "components/prisonerInformationHeader/prisonerInformationHeader.njk" import prisonerInformationHeader %}
{% from "components/forms/amountForm.njk" import amountDescriptionForm %}

{% set pageTitle = applicationName + " - Profile" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}

  <a href="/" id="backLink" class="govuk-back-link" data-testid="backLink">Back</a>

  {{ prisonerInformationHeader({
      prisoner:prisoner
  }) }}


{% endblock %}

{% block content %}

<div class="credit-from-page govuk-grid-row">

  {{
    amountDescriptionForm({
      action: "./credit-amount",
      csrfToken: csrfToken,
      headingText: "Credit amount",
      errorMap: errorMap,
      amountValue : amount,
      descriptionValue : description
    })
  }}

{% endblock %}
