{%- extends "partials/layout-wizard-step.njk" -%}

{%- from "components/forms/amountForm.njk" import amountForm -%}

{%- set pageTitle = "Credit a prisoner amount" -%}
{%- set backUrl = "./credit-from" -%}

{% block innerContent %}
  <div class="credit-from-page">
    {{ amountForm({
      action: "./credit-amount",
      csrfToken: csrfToken,
      headingText: "Credit amount",
      errorMap: errorMap,
      amountValue : amount,
      descriptionValue : description
    }) }}
  </div>
{% endblock %}
