{% from "moj/components/alert/macro.njk" import mojAlert %}

{{ mojAlert({
  variant: "warning" if isHomepage else "information",
  title: "Test environment",
  dismissible: false,
  html: '<b>This is a test environment</b><br>Do not use real personal data. Any data you enter here will not be processed.',
  attributes: {
    "data-qa": "data-warning-banner"
  },
  classes: "govuk-!-margin-top-5"
}) }}
