{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {{ feComponents.header  | safe }}
  {# Beta phase banner temporarily disabled while this is a test environment. #}
  {# {% include "../partials/phaseBanner.njk" %} #}
{% endblock %}

{# Render the data warning banner directly beneath the phase banner and above any page back link. #}
{% block containerStart %}
  {% include "../partials/dataWarningBanner.njk" %}
  {% block beforeContent %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
{% endblock %}
