{%- extends "govuk/template.njk" -%}

{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{%- from "partials/miniProfile/macro.njk" import miniProfile -%}
{%- from "components/prisonerInformationHeader/prisonerInformationHeader.njk" import prisonerInformationHeader -%}

{%- set mainClasses = "govuk-body" -%}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {%- for css in feComponents.cssIncludes -%}
  <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {%- endfor -%}
{% endblock %}

{% block pageTitle %}{% if pageTitle %}{{ pageTitle }} - {% endif %}{{ applicationName }} - DPS{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
  {% block meta %}{% endblock %}
{% endblock %}

{% block beforeContent %}
  {% include "partials/phase-banner.njk" %}

  {%- if backUrl -%}
    {{ govukBackLink({
      text: backText or "Back",
      href: backUrl
    }) }}
  {%- endif -%}

  {%- if showBreadcrumbs and breadcrumbs and(not backUrl) -%}
    <div class="govuk-!-display-none-print">
      <div>
        {{ govukBreadcrumbs({
          items: breadcrumbs.items
        }) }}
      </div>
    </div>
  {%- endif -%}

  {%- if prisonerDetails -%}
    {{ miniProfile(prisonerDetails, originalUrl) }}
  {%- endif -%}

  {% block pageHeader %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
  {%- for js in feComponents.jsIncludes -%}
  <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {%- endfor -%}
  {% block pageScripts %}{% endblock %}
{% endblock %}
