{%- extends "../partials/layout.njk" -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="prisonerFinanceHeading" class="govuk-heading-xl govuk-!-margin-top-5">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% block contentHeader %}{% endblock %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block innerContent %}{% endblock %}
    </div>
  </div>
{% endblock %}
