{%- extends "../partials/layout.njk" -%}

{%- from "components/prisonerInformationHeader/prisonerInformationHeader.njk" import prisonerInformationHeader -%}

{%- block content -%}
  {%- if prisoner -%}
    {{ prisonerInformationHeader({ prisoner: prisoner }) }}
  {%- endif -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="prisonerFinanceHeading" class="govuk-heading-l govuk-!-margin-top-5">{{ pageTitle }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% block innerContent %}{% endblock %}
    </div>

    <div class="govuk-grid-column-one-quarter">
      {% block secondaryContent %}{% endblock %}
    </div>
  </div>
{%- endblock -%}
