{%- extends "partials/layout-full-width.njk" -%}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{%- from "partials/data-warning-banner/macro.njk" import dataWarningBanner -%}
{%- from "partials/advance-payments-list/macro.njk" import advancePaymentsList -%}
{%- from "components/balanceCard/balanceCard.njk" import balanceCard -%}
{%- from "components/advancePaymentsRemainingCard/advancePaymentsRemainingCard.njk" import advancePaymentsRemainingCard -%}

{%- set pageTitle = headerTitle -%}
{%- set backUrl = "/prisoner/" + prisonNumber + '/advances' -%}


{% block contentHeader %}
  {{ dataWarningBanner(dataWarningBannerEnabled) }}
{% endblock %}

{% block innerContent %}


<ul class="govuk-grid-row card-group">
    <li class="govuk-grid-column-one-quarter card-group__item">
      {{ balanceCard({
        heading: "This advance",
        subHeading: 'Total',
        amount: advanceBalance.amount
      }) }}
    </li>
    <li class="govuk-grid-column-one-quarter card-group__item">
      {{ balanceCard({
        heading: "Balance outstanding",
        subHeading: 'Total',
        amount: advanceBalance.outstandingAmount
      }) }}
    </li>
    <li class="govuk-grid-column-one-quarter card-group__item">
      {{ balanceCard({
        heading: "Weekly payments",
        subHeading: 'Total',
        amount: advanceBalance.weeklyAmount
      }) }}
    </li>
    <li class="govuk-grid-column-one-quarter card-group__item">
      {{ advancePaymentsRemainingCard({
        heading: "Payments remaining",
        subHeading: 'Total',
        paymentsRemaining: advanceBalance.paymentsRemaining,
        nextPaymentDate: advanceBalance.nextPaymentDate
      }) }}
    </li>
</ul>

{{ advancePaymentsList({
    advancePayments: advancePayments,
    paginationItems: paginationItems,
    prisonNames: prisonNames,
    prisonNumber: prisonNumber
}) }}

{% endblock %}
