{%- extends "partials/layout-wizard-step.njk" -%}

{%- from "components/forms/radiosSelectionForm.njk" import radiosSelectionForm -%}

{%- set pageTitle = "Grant bonus to prisoners" -%}
{%- set backUrl = "/" -%}

{% block innerContent %}
  {{ radiosSelectionForm({
    action: "./grant-bonus-to-prisoners",
    csrfToken: csrfToken,
    headingText: "Grant bonus to prisoners",
    subHeading: "Bonus To",
    radiosId: "caseloadId",
    radiosValue: selectedCaseload,
    radiosItems: caseloads,
    errorMap: errorMap
  }) }}
{% endblock %}
