{% macro prisonerInformationHeader(params) %}
  <div id="prisonerInformationHeader" class="hmpps-profile-banner" data-testid="hmpps-profile-banner">
    {% include "./profileBannerTop.njk" %}
  </div>
{% endmacro %}
