  {% macro prisonerInformationHeader(params) %}
  <div data-testid="hmpps-profile-banner" class="hmpps-profile-banner">
    <div id="prisonerInformationHeader">
  </div>
     {% include "./profileBannerTop.njk"  %}
  </div>
{% endmacro %}
