{% set tabs = {prisonNumber : params.prisoner.prisonerNumber, envDomain : 'dev'} | createProfileTabsForPrisoner %}

<div class="hmpps-profile-banner-tabs govuk-grid-column-full govuk-!-margin-top-5">
  <nav class="govuk-!-display-none-print ">
    <ul class="hmpps-profile-tab-links" data-testid="profile-tabs">
      {% for tab in tabs %}
        <li class="govuk-heading-s ">
          <a
            href="{{ tab.href | default('#') }}"
            class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
            data-qa="{{tab.tabName}}"
          >
            {{tab.tabName}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <hr>
</div>
