{% set tabs = {prisonNumber : params.prisoner.prisonerNumber, envDomain : 'dev'} | createProfileTabsForPrisoner %}

<div class="hmpps-profile-banner-tabs govuk-grid-column-full govuk-grid-row govuk-margin-bottom-6">
  <nav class="govuk-display-none-print">
    <ul class="hmpps-profile-tab-links" data-testid="profile-tabs" >
      {% for tab in tabs %}
        <li class="hmpps-tabs-list-item">
          <a
            href="{{ tab.href | default('#') }}"
            class="hmpps-tabs-link {% if loop.last %}hmpps-tabs-link--active{% endif %}"
            data-qa="{{tab.tabName}}"
          >
            {{tab.tabName}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
