{% set tabs = {prisonNumber : params.prisoner.prisonerNumber, envDomain : 'dev'} | createProfileTabsForPrisoner %}

<div class="hmpps-profile-banner-tabs govuk-grid-column-full govuk-grid-row govuk-margin-bottom-6">
  <nav class="govuk-display-none-print">
    <ul class="hmpps-profile-tab-links" data-testid="profile-tabs" >
      {% for tab in tabs %}
        <li class="hmpps-tabs-list-item">
          {% if loop.last %}
            <span class="hmpps-tabs hmpps-tabs-link--active">{{tab.tabName}}</span>
          {% else %}
          <a
            href="{{ tab.href | default('#') }}"
            class="hmpps-tabs hmpps-tabs-link"
            data-qa="{{tab.tabName}}"
          >
            {{tab.tabName}}
          </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
