{% extends "partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/confirmationPanel/confirmationPanel.njk" import confirmationPanel %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Grant bonus to prisoners" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}

  <a href="/" id="backLink" class="govuk-back-link" data-testid="backLink">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {{
    confirmationPanel({
    confirmationMessage: "Bonus grant processed",
    backToPageLinkText : "The bonus grant has been processed.",
    transactionNumber : transactionNumber,
    confirmationHref: "/"
    })
  }}
</div>

{% endblock %}
