{%- extends "partials/layout-wizard-step.njk" -%}

{%- from "components/confirmationPanel/confirmationPanel.njk" import confirmationPanel -%}

{%- set pageTitle = "Grant bonus to prisoners" -%}
{%- set backUrl = "/" -%}

{% block innerContent %}
  {{ confirmationPanel({
    panelTitle: "Bonus grant processed.",
    confirmationMessage: "The bonus grant has been processed.",
    confirmationMessageLinkText : "Return home",
    transactionNumber : transactionNumber,
    confirmationHref: "/"
  }) }}
{% endblock %}
