{% from "components/summaryContainer/summaryContainer.njk" import summaryContainer %}

{% macro balanceCard(params) %}
  {% call summaryContainer(params) %}
    <div class="hmpps-balance-card__body">

      {% if params.showSubHeading %}
      <h3 class="govuk-heading-l hmpps-balance-card__subHeading">
          Account Total
      </h3>
      {% endif %}

      <p class="govuk-body hmpps-balance-card__amount" data-testid="{{ params['data-testid'] }}_amount">{{ params.amount | penceToPound }}</p>
    </div>
  {% endcall %}

{% endmacro %}
