{% from "components/summaryCard/summaryCard.njk" import summaryCard %}

{% macro balanceCard(params) %}
  {% call summaryCard(params) %}
    <div class="hmpps-balance-card__body">
      <h3 class="govuk-heading-m hmpps-balance-card__subHeading">
          Total
      </h3>

      <p class="govuk-body hmpps-balance-card__amount">{{ params.amount | penceToPound }}</p>
    </div>
  {% endcall %}

{% endmacro %}
