.hmpps-balance-card {

  &__body {
    h3 {
      line-height: 30px;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }
    @include govuk-responsive-padding(3, 'left');
    @include govuk-responsive-padding(3, 'right');
  }

  &__amount {
    line-height: 40px;
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

}
