.hmpps-balance-card {

  &__body {
    h3 {
      line-height: 30px;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
  }

  &__amount {
    line-height: 40px;
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

}
