.hmpps-summary-container {
  border: 1px solid govuk-colour("black", $variant: "tint-25");
  box-shadow: 0 5px govuk-colour("black", $variant: "tint-80");
  width: 100%;
  display: block;
  @include govuk-responsive-margin(4, 'bottom');



  &__header {
    background-color: govuk-colour("black", $variant: "tint-95");
    @include govuk-responsive-padding(3, 'left');
    @include govuk-responsive-padding(3, 'right');
    @include govuk-responsive-margin(3, 'bottom');

    h2 {
      line-height: 50px;
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }

  &__content {
    @include govuk-responsive-padding(3);
    padding-top: 0;
  }
}
