{%- extends "partials/layout-wizard-step.njk" -%}

{%- from "components/confirmationPanel/confirmationPanel.njk" import confirmationPanel -%}

{%- set pageTitle = "Credit a prisoner confirmation" -%}
{%- set backUrl = "/" -%}

{% block innerContent %}
  {{ confirmationPanel({
    panelTitle: "Credit processed",
    confirmationMessage: "The credit has been processed. You can see the prisoners recent transactions on their",
    confirmationMessageLinkText : "financial profile page",
    transactionNumber : transactionNumber,
    confirmationHref: "/prisoner/" + prisonNumber
  }) }}
{% endblock %}
