{% set firstName = prisonerDetails.firstName | capitalize %}
{% set lastName = prisonerDetails.lastName | capitalize %}
{% set formattedName = lastName + ", " + firstName %}

<section aria-label="Prisoner details" role="region">
  <div class="mini-profile govuk-!-margin-top-7" data-qa="mini-profile">
    <div class="mini-profile-inner">
      <div class="mini-profile-left">
        <img
          class="mini-profile-person-img"
          src="/prisoner-image/{{ prisonerDetails.prisonerNumber }}"
          alt="Image of {{ formattedName }}"
          loading="lazy"
          data-qa="mini-profile-person-img"></div>
        <div class="mini-profile-right">
          <ul class="mini-profile-info">
            <li>
              <p class="govuk-heading-s govuk-!-margin-bottom-1">
                <a id="mini-profile-prisoner-profile-link" class="govuk-link--no-visited-state" href="{{ prisonerProfileUrl + "/prisoner/" + prisonerDetails.prisonerNumber }}" data-qa="mini-profile-person-profile-link">{{ formattedName }}</a>
              </p>
              <span class="govuk-body" data-qa="mini-profile-prisoner-number">{{ prisonerDetails.prisonerNumber }}</span>
            </li>
            <li>
              <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Location</span>
              <p class="govuk-heading-s govuk-!-margin-bottom-1">
                <a id="mini-profile-prisoner-location-link" class="govuk-link--no-visited-state" href="{{ prisonerProfileUrl + "/prisoner/" + prisonerDetails.prisonerNumber +"/location-details" }}" data-qa="mini-profile-person-profile-link">{{ prisonerDetails.cellLocation | default("Not entered") }}</a>
              </p>
            </li>
            <li>
              <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Category</span>
              <p class="govuk-heading-s govuk-!-margin-bottom-1">
                <a id="mini-profile-prisoner-categorisation-dashboard-link" class="govuk-link--no-visited-state" href="{{ categorizationDashboardUrl + "/" + prisonerDetails.bookingId }}" data-qa="mini-profile-person-profile-link">{{ prisonerDetails.category | default("Not entered") }}</a>
              </p>
            </li>
            <li>
              <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">CSRA</span>
              <p class="govuk-heading-s govuk-!-margin-bottom-1">
                <a id="mini-profile-prisoner-csra-link" class="govuk-link--no-visited-state" href="{{ prisonerProfileUrl + "/prisoner/" + prisonerDetails.prisonerNumber +"/csra-history" }}" data-qa="mini-profile-person-profile-link">{{ prisonerDetails.csra  | default("Not entered") }}</a>
              </p>
            </li>
            <li>
              <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Incentive level</span>
              <p class="govuk-heading-s govuk-!-margin-bottom-1">
                <a id="mini-profile-prisoner-incentives-link" class="govuk-link--no-visited-state" href="{{ incentivesUIUrl + "/" + prisonerDetails.prisonerNumber }}" data-qa="mini-profile-person-profile-link">{{ prisonerDetails.currentIncentiveLevelDescription | default("Not entered") }}</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
