{% if not actionPanelEnabled %}
  {%- extends "partials/layout-full-width.njk" -%}
    {% else %}
  {%- extends "partials/layout-three-quarters.njk" -%}
{% endif %}

{%- from "components/balanceCard/balanceCard.njk" import balanceCard -%}
{%- from "partials/data-warning-banner/macro.njk" import dataWarningBanner -%}
{%- from "partials/transactions-list/macro.njk" import transactionsList -%}
{%- from "components/summaryContainer/summaryContainer.njk" import summaryContainer -%}
{%- from "components/actionBlock/actionBlock.njk" import actionBlock -%}

{%- set pageTitle = "Finances" -%}
{%- set backUrl = "/prisoner" -%}

{% block contentHeader %}
  {{ dataWarningBanner(dataWarningBannerEnabled) }}
{% endblock %}

{% block innerContent %}

  <div class="hmpps-balance-card-group">
    <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-third card-group__item">
        {{ balanceCard({
          heading: "Spends",
          amount: subAccountBalances.spends.amount,
          link: {
            href: "/prisoner/"+prisonNumber+"/money/spends",
            text: "Spends transactions"
          }
        }) }}
      </li>
      <li class="govuk-grid-column-one-third card-group__item">
        {{ balanceCard({
          heading: "Private cash",
          amount: subAccountBalances.privateCash.amount,
          link: {
            href: "/prisoner/"+prisonNumber+"/money/private-cash",
            text: "Private cash transactions"
          }
        }) }}
      </li>
      <li class="govuk-grid-column-one-third card-group__item">
        {{ balanceCard({
          heading: "Savings",
          amount: subAccountBalances.savings.amount,
          link: {
            href: "/prisoner/"+prisonNumber+"/money/savings",
            text: "Savings transactions"
          }
        }) }}
    </ul>
  </div>

  {% call summaryContainer({
    heading: "All account transactions",
    classes: "transactions-list-summary"
  }) %}
    <div class="hmpps-summary-container__table_container">
      {{ transactionsList({ transactions: transactions, showLocation: false }) }}
    </div>

    <p class="govuk-body">
      <a href="/prisoner/{{prisonNumber}}/money" data-testid="transactions-page-link" >View all transactions</a>
    </p>
  {% endcall %}
{% endblock %}

{% block secondaryContent %}
  {{ actionBlock({
    actions: [
      {text: "Credit account", url: "/prisoner/"+prisonNumber+"/money/credit-a-prisoner/credit-to"},
      {text: "Debit account", url: "#" },
      {text: "Sub account transfer", url: "#" },
      {text: "Adjudications", url: "#" },
      {text: "Export statement", url: "#" },
      {text: "Close account", url: "#" }
    ]
  }) }}
{% endblock %}