{%- macro advancePaymentsRemainingCard(params) -%}
  <div class="card card--clickable hmpps-balance-card">
    <h2 class="govuk-heading-m card__heading hmpps-balance-card__header">{{ params.heading }}</h2>

    <div class="hmpps-balance-card__body">
      <p class="govuk-body card__description hmpps-balance-card__description">Total</p>
      <p class="govuk-body hmpps-balance-card__total">{{ params.paymentsRemaining  }}</p>
      <b>Next: {{params.nextPaymentDate | formatDate('d MMM yyyy') }}</b>
    </div>
  </div>
{%- endmacro -%}
