{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% macro dataWarningBanner(enabled) %}
  {%- set dataWarningHtml -%}
    <strong>This web page is for testing only.</strong>
    <p class="govuk-body">The data you will see is the financial data of real prisoners, but may be inaccurate or incomplete.</p>
  {%- endset -%}

  {%- if enabled -%}
    {{ mojAlert({
      variant: "warning",
      title: "Test environment",
      dismissible: false,
      html: dataWarningHtml,
      attributes: {
        "data-qa": "data-warning-banner",
        'data-testid': 'warning-banner'
      }
    }) }}
  {%- endif -%}
{% endmacro %}
