{% extends "../../../partials/layout.njk" %}
{% from "../../../components/card/card.njk" import card %}
{% from "../../../components/balanceCard/balanceCard.njk" import balanceCard %}
{% from "../../../components/transactionTable/transactionTable.njk" import transactionTable %}

{% set pageTitle = applicationName + " - Finance" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

<a href="/" id="backLink" class="govuk-back-link" data-testid="backLink">Back</a>

  <h1 id="prisonerTransactionsHeading">
    {{ prisoner.firstName | capitalize }} {{ prisoner.lastName | capitalize }}'s Transactions
  </h1>

<div class="card-group govuk-grid-row" id="prisonerFinanceCard">
  <div class="govuk-grid-column-one-third card-group__item">
    {{ balanceCard({
      "heading": "Total",
      "amount": balance,
      "data-testid": "view-prisoner-balance-card"
    }) }}
  </div>
</div>

{{ transactionTable({"transactions": transactions}) }}

{% endblock %}
