{%- extends "partials/layout-full-width.njk" -%}

{%- from "components/balanceCard/balanceCard.njk" import balanceCard -%}
{%- from "partials/data-warning-banner/macro.njk" import dataWarningBanner -%}
{%- from "partials/transactions-list/macro.njk" import transactionsList -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{%- set pageTitle = headerTitle -%}
{%- set backUrl = "/prisoner/" + prisonNumber -%}

{% block contentHeader %}
  {{ dataWarningBanner(dataWarningBannerEnabled) }}
{% endblock %}

{% block innerContent %}
  <div class="prisoner-transactions-page">
    <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-quarter card-group__item">
        {{ balanceCard({
          heading: "Current balance",
          amount: currentBalance
        }) }}
      </li>
    </ul>

    <div class="govuk-grid-row moj-filter-layout">
      <div class="govuk-grid-column-one-quarter moj-filter-layout__filter moj-filter-layout__filter--small"
          data-module="list-filter"
          data-filter-start-shown="true"
        >
        <div class="moj-filter">
          <form method="get" action="#filterForm" id="filterForm">
            {%- set filterOptionsHtml %}
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date range</legend>

              {{ mojDatePicker({
                id: 'startDate',
                name: 'startDate',
                leadingZeros: 'true',
                label: { text: "From"},
                value: filters.startDate,
                hint: {
                  text: "For example, 17/05/2024."
                },
                errorMessage: { text: errorMap.startDate } if errorMap.startDate else null
              }) }}

              {{ mojDatePicker({
                id: 'endDate',
                name: 'endDate',
                leadingZeros: 'true',
                label: { text: "To" },
                value: filters.endDate,
                hint: {
                  text: "For example, 18/05/2024."
                },
                errorMessage: { text: errorMap.endDate } if errorMap.endDate else null
              }) }}

              {{ govukCheckboxes({
                name: "creditDebit",
                fieldset: {
                  legend: {
                    text: "Credit or debit",
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    name: "credit",
                    checked: filters.credit === 'true',
                    value: "true",
                    text: "Credit",
                    id: "creditFilter"
                  },
                  {
                    name: "debit",
                    checked: filters.debit === 'true',
                    value: "true",
                    text: "Debit",
                    id: "debitFilter"
                  }
                ],
                errorMessage: {
                  text: errorMap.credit | default("") + errorMap.debit | default("")
                } if errorMap.credit or errorMap.debit else null
              }) }}
            {% endset -%}

            {{ mojFilter({
              heading: {
                text: "Filter"
              },

              selectedFilters: {
                heading: {
                  text: "Selected filters",
                  href: "?"
                },

                clearLink: {
                  text: "Clear filters",
                  href: '?#filterForm'
                },

                categories: filters.selectedFilters
              },
              optionsHtml: filterOptionsHtml
            }) }}
          </form>
        </div>
      </div>

      <div class="moj-filter-layout__content">
        <div class="moj-action-bar">
          <div class="moj-action-bar__filter moj-action-bar__filter--no-actions"></div>
        </div>

      {% if hasValidationErrors %}
        <p class="transactions-list__filter-error" data-testid="no-transactions-message">
          Please fix the filter's errors to view transactions
        </p>
      {% else %}
        {{ transactionsList({
            transactions: transactions,
            paginationItems: paginationItems,
            prisonNames: prisonNames,
            displayTotalBalance: displayTotalBalance,
            showLocation: true
        }) }}
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
