{%- extends "partials/layout-wizard-step.njk" -%}

{%- from "components/forms/radiosSelectionForm.njk" import radiosSelectionForm -%}

{%- set pageTitle = "Credit a prisoner to" -%}
{%- set backUrl = "/" -%}
{%- set showPrisonerInformation = true -%}

{% block innerContent %}
  {{ radiosSelectionForm({
    additionalClasses: "hmpps-subaccount-select",
    action: "./credit-to",
    csrfToken: csrfToken,
    headingText: "Credit to",
    subHeading: null,
    radiosId: "creditTo",
    radiosValue: subAccountSelected,
    radiosItems: subAccounts,
    errorMap: errorMap
  }) }}
{% endblock %}
