{% extends "partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/forms/amountDescriptionForm.njk" import amountDescriptionForm %}

{% set pageTitle = applicationName + " - Grant bonus to prisoners" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}

  <a href="/" id="backLink" class="govuk-back-link" data-testid="backLink">Back</a>

{% endblock %}

<div class="grant-bonus-to-prisoners-amount-page govuk-grid-row">

{% block content %}
  {{
    amountDescriptionForm({
      action: "./amount",
      csrfToken: csrfToken,
      headingText: "Grant bonus to prisoners",
      errorMap: errorMap,
      bonusAmountValue : bonusAmount,
      descriptionValue : description
    })
  }}
{% endblock %}

</div>
