{%- extends "partials/layout-two-thirds.njk" -%}

{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "components/dataWarningBanner/dataWarningBanner.njk" import dataWarningBanner -%}

{%- set pageTitle = "View prisoner finances" -%}
{%- set backUrl = "/" -%}

{% block beforeContent %}
  {{ dataWarningBanner(dataWarningBannerEnabled) }}
{% endblock %}

{% block innerContent %}
  <form method="POST" action="/prisoner" data-testid="find-prisoner-form">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">


    {% set labelHtml %}
      <h1 class="govuk-label--xl">Enter a prison number</h1>
      {{ dataWarningBanner(dataWarningBannerEnabled) }}
    {% endset %}

    {{ govukInput({
      label: {
        html: labelHtml
      },
      id: "prisonNumber",
      name: "prisonNumber",
      classes: "govuk-input--width-10",
      attributes: {
        "data-testid": "prisoner-number-input"
      },
      errorMessage: { text: errorMap.prisonNumber } if errorMap.prisonNumber else null
    }) }}

    {{ govukButton({
      text: "Submit",
      type: "submit",
      attributes: {
        "data-testid": "submit-button"
      }
    }) }}
  </form>
{% endblock %}
