{%- extends "partials/layout-wizard-step.njk" -%}

{%- from "components/forms/radiosSelectionForm.njk" import radiosSelectionForm -%}

{%- set pageTitle = "Credit a prisoner from" -%}
{%- set backUrl = "/" -%}
{%- set showPrisonerInformation = true -%}

{% block innerContent %}
  {{ radiosSelectionForm({
    action: "./credit-from",
    csrfToken: csrfToken,
    headingText: "Credit from",
    subHeading: null,
    radiosId: "creditFrom",
    radiosValue: debitSubAccountId,
    radiosItems: items,
    errorMap: errorMap
  }) }}
{% endblock %}
