{% extends "partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% from "components/prisonerInformationHeader/prisonerInformationHeader.njk" import prisonerInformationHeader %}

{% set pageTitle = applicationName + " - Profile" %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}

  <a href="/" id="backLink" class="govuk-back-link" data-testid="backLink">Back</a>

  {{ prisonerInformationHeader({
      prisoner:prisoner
  }) }}


{% endblock %}

{% block content %}

<div class="credit-to-page govuk-grid-row">
    <h1>Hello world</h1>
</div>

{% endblock %}
