{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1 data-testid="error-page-message">{{ message }}</h1>
  <h2 data-testid="error-page-status">{{ status }}</h2>
  <pre data-testid="error-page-stack">{{ stack }}</pre>

{% endblock %}
