{%- extends "partials/layout-full-width.njk" -%}

{%- set pageTitle = 'An error has occured' -%}
{%- set backUrl = "/" -%}

{% block innerContent %}
  <h2 class="govuk-heading-m">
    {% if status %}
      <span class="govuk-caption-m" data-testid="error-page-status"><span class="govuk-visually-hidden">Status:</span> {{ status }}</span>
    {% endif %}
    {{ message }}
  </h2>

  <pre class="govuk-body" data-testid="error-page-stack"><code>{{ stack }}</code></pre>
{% endblock %}
