{%- extends "partials/layout-two-thirds.njk" -%}

{%- set pageTitle = message -%}
{%- set backUrl = "/" -%}

{% block innerContent %}
  <h2 data-testid="error-page-status">{{ status }}</h2>

  <pre data-testid="error-page-stack"><code>{{ stack }}</code></pre>
{% endblock %}
