{%- extends "partials/layout-two-thirds.njk" -%}

{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- set pageTitle = "Sorry, there is a problem with the service" -%}

{% block innerContent %}
  <p class="govuk-body">Try again later.</p>

  {{ govukButton({ text: "Continue", href: "/", attributes: { "data-testid": "continue-button" } }) }}
{% endblock %}
