{%- extends "partials/layout-two-thirds.njk" -%}

{%- from "components/dataWarningBanner/dataWarningBanner.njk" import dataWarningBanner -%}

{%- set pageTitle = "Prisoner not found" -%}
{%- set backUrl = "/prisoner" -%}

{% block contentHeader %}
  {{ dataWarningBanner(dataWarningBannerEnabled) }}
{% endblock %}

{% block innerContent %}
  <p class="govuk-body">Check the prison number is correct and try again.</p>

  <p class="govuk-body">
    <a class="govuk-link" href="/prisoner" data-testid="find-prisoner-link">Find a prisoner</a>
  </p>
{% endblock %}
