{% extends "../partials/layout.njk" %}
{% from "../components/card.njk" import card %}

{% set pageTitle = applicationName + " - Finance" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

<a href="/" id="backLink" class="govuk-back-link" data-testid="backLink">Back</a>

<h1 id="prisonerTransactionsHeading">Prisoner's Transactions</h1>

<table class="govuk-table" data-testid="prisoner-transactions-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header">Date of transaction</th>
            <th class="govuk-table__header">Description/ Line Item</th>
            <th class="govuk-table__header">Credit</th>
            <th class="govuk-table__header">Debit</th>
            <th class="govuk-table__header">Location</th>
            <th class="govuk-table__header">Account Type</th>
        </tr>
    </thead>
<tbody class="govuk-table__body">
    {% for row in transactions %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-testid="row-date">{{ row.date }}</td>
            <td class="govuk-table__cell" data-testid="row-description">{{ row.description }}</td>
            <td class="govuk-table__cell" data-testid="row-credit">{{ row.credit }}</td>
            <td class="govuk-table__cell" data-testid="row-debit">{{ row.debit }}</td>
            <td class="govuk-table__cell" data-testid="row-location">{{ row.location }}</td>
            <td class="govuk-table__cell" data-testid="row-account-type">{{row.accountType}}</td>
        </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
